<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.in.sil.cryzalit.mybilets">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/pdr"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CodeRegions"></activity>
        <activity android:name=".Pdrshowru" />
        <activity android:name=".Pdrru" />
        <activity android:name=".Launch">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation"
                    android:screenOrientation="portrait" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:theme="@style/AppTheme.NoActionBar" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation"
                    android:screenOrientation="portrait" />

                <category
                    android:name="android.intent.category.ALTERNATIVE"
                    android:theme="@style/AppTheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".TableResult"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pdrshow"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pdr"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Report"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1979562813095678~7446917393" />

    </application>

</manifest>